doctype html
html
head
title OMF.Gcode
link(href="css/main.css" rel="stylesheet")
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
script(src="js/app.js")
script.
  // event handlers
  $(document).ready(function() {
    
    $('.action-generate-gcode').on("click",function(e) {
      e.preventDefault();
      output();
    });

    $('.action-copy-gcode').on("click",function(e) {
      e.preventDefault();
      $('#textarea-output').select();
      document.execCommand("copy");
    });

    $('.config-lift-distance').on("change", function(e){
      e.preventDefault();
      $('.config-lift-distance-label').text("("+this.value+"mm)");
    });
    
    $('.stat-color').on("click", function(e){
      e.preventDefault();
      clear_canvas();
      $('.stats > li').removeClass('enabled');
      $(this).addClass('enabled');
      add_to_canvas($(this).children('.stat-color-name').text(), PIXELS[$(this).children('.stat-color-name').text()]);
    });
    
    $('.show-all').on("click", function(e){
      e.preventDefault();
      clear_canvas();
      $('.stats > li').removeClass('enabled');
      $(this).addClass('enabled');
      Object.keys(PIXELS).forEach(function(color, i) {
          add_to_canvas(color, PIXELS[color]);
      });
    });
    
    $('.action-add-image').on("click", function(e) {
      e.preventDefault();
      if($('.config-image').hasClass('selected')){
        clear_canvas();
        add_image_to_canvas(e);
        resize_canvas();
      }
    });
    
    $('.action-apply-palette').on("click", function(e) {
      e.preventDefault();
      get_pixels_from_canvas();
    });

    $('.action-clear').on("click", function(e) {
      e.preventDefault();
      clear_canvas();
      clear_stats();
      clear_gcode();
    });

    $('.config-zoom').on("change", function(e){
      e.preventDefault();
      resize_canvas();
    });

    $('.config-image').on("change", function(e){
      e.preventDefault();
      $(this).addClass("selected");
    });
    
    init();
  });
  
body
  header
    nav.row
      div.logo OMF.Gcode
      div
        button.action-add-image Add Image
      div
        button Zoom
      div
        input.config-zoom(value="10" type="range" min="5" max="15" step="1") 
      div
        button.action-apply-palette Apply Palette
      div
        button.action-generate-gcode Generate
      div
        button.action-copy-gcode Copy Gcode
      div
        button.action-clear Clear
        
  .row
    .dev-config
      form.config-form
        ul.config-list
          li.config-option
            label Image
              small=" (.jpg)"
            input.config-image(value="" type="file")
          li.config-option
            .row
              .column
                label Height
                  small=" (px)"
                input.config-height(value="26" placeholder="height")
              .column
                label Width
                  small=" (px)"
                input.config-width(value="26" placeholder="width")
          li.config-option
            label Palette
              small=" (color #)"
            select.config-palette
              option(selected) THIRTY_TWO
              option TWO
          li.config-option
            label Background Color
              small=" (exclude in output)"
            select.config-background
              option(selected) rgb(255,255,255)
              option rgb(0,0,0)

      form.config-form
        ul.config-list
          li.config-option
            label Pixel Size 
              small (mm)
            input.config-size(value=5)

          li.config-option
            label Pixel Fill Pattern 
            select.config-fill
              option(disabled) zizag 
              option(disabled) x
              option(selected) border
          
          li.config-option
            label Lift Distance 
              small.config-lift-distance-label (3mm)
            input.config-lift-distance(value="3" type="range" min="2" max="10" step="1")
    div.output.column
      .visual-output.row
        .canvas-wrapper
          canvas#canvas-output
        ul.stats
          li.show-all.enabled show all
          - for(var i = 0; i < 50; i++)
            li(class="row stat-color stat-color-"+i data-index=i)
              span(class="stat-color-swatch stat-color-"+i+"-swatch")
              span(class="stat-color-length stat-color-"+i+"-length")
              span(class="stat-color-name stat-color-"+i+"-name")
      .gcode-output
        textarea#textarea-output

  script(src="//localhost:35729/livereload.js")
